// FireFox displays z-index differently than Chrome does,
// so I had to make this file to make styles available only in FF agent
// (importing using JS)

.pricing__range {
  label {
    position: relative;
    z-index: 1;
  }
  &--progress-bar {
    position: static;
  }
  input[type='range']::-moz-range-track {
    position: static;
  }
}