// general
$background-source: '@i/bg-pattern.svg';
$main-background-color: hsl(230, 100%, 99%);
$bold-weight: 800;
$regular-weight: 600;
$text-color: hsl(225, 20%, 60%);
$ugly-width: 1440px;
$mobile-width: 560px;
$tiny-width: 360px;
// implying that 1rem = 16px to convert rem to pixels
$rem-in-pixels: 16px;

// HEADER
$header-background-source: '@i/pattern-circles.svg';
$header-height: 150px;
$introductory-paragraph-size: 15px;

// INTERACTIVE OBJECTS
$interactive-transition: .2s ease-out;
// range
$full-range-bar-color: hsl(174, 77%, 80%);
$empty-range-bar-color: hsl(224, 65%, 95%);
$range-background-color: hsl(174, 86%, 45%);
$range-bar-height: 10px;
$range-thumb-size: 40px;
$range-thumb-image-source: '@i/icon-slider.svg';
// toggle button
$toggle-background-color: hsl(223, 50%, 87%);
$toggle-button-height: 24px;
$toggle-button-slider-size-difference: 8px;

// COMPONENT
// component general
$inner-blocks-padding: 25px 50px;
$inner-blocks-padding-mobile: 5px 20px;
$component-background-color: #fff;
$component-shadow-color: #ccc7;
$component-divider-color: #eee;
$headers-text-color: hsl(227, 35%, 25%);
// discount
$discount-background-color: hsl(14, 92%, 95%);
$discount-text-color: hsl(15, 100%, 70%);
$discount-content: '25% discount';
$discount-content-mobile: '-25%';
$discount-top-and-bottom-padding: 5px;
$discount-text-size: 0.75rem;
// services
$services_check_source: '@i/icon-check.svg';
$services_check_margin: -10px * 2;
// CTA button
$CTA-background-color: $headers-text-color;
$CTA-text-color: hsl(226, 100%, 87%);
$CTA-button-top-padding: 15px;
